/.vscode
/1.c
/1.exe
/2.c
/2.exe
/2022211162_彭文祺.JPG
/3.c
/3.exe
/4.c
/4.exe
/data.json
/Desktopq.txt
/Desktopqwq.txt
/Desktopqwq.txt.txt
/exercise.code-workspace
/fucku.txt
/hahaha.xls
/helloworld.c
/helloworld.exe
/htmlpractice
/input.txt
/output1.txt
/output2.txt
/outputpwq.txt
/outputqyh.txt
/pwq.py
/Pythonpractice
/Q.py
/qwq.py
/scores.csv
/test.html
/ttttt.md
/问题代码
/阿里巴巴2020年股票数据.xls